body{ width: 98%;
    height: auto;
    position: relative;
}
img{
    width: 100%;
    height:auto;
}

.m{height: 400px;
    width: 400px;
    text-align: center;
    position:absolute ;
    margin-top: -650px;
    margin-left: 340px;
box-shadow: 10px 10px 10px 20px;
border-right: 5px black solid;
opacity: 0.600;
}
form input{
    margin: 15px;
    height: 40px;
    width: 350px;
}


button{height: 40px;
    width: 150px;
    background-color:  #28a745;
border-color:green;
color: rgb(255, 255, 255);
font-size: 20px;
position:absolute;
margin-top: 25px;
margin-left: -66px;
cursor: pointer;
}


@media screen and (min-width:401px) and (max-width:768px) { 
    

    .m{height: 0px;
        width: 00px;
        padding-top:-5px;
        font-size:0px;
        text-align: center;
        position:absolute ;
        margin-top: -240px;
        margin-left: 80px;
   
   
    opacity: 0.600;
    }



    form input{
        margin: 12px;
        height: 20px;
        width: 240px;
    }

    button{height: 24px;
        width: 70px;
        background-color:  #28a745;
    border-color:green;
    color: rgb(255, 255, 255);
    font-size: 15px;
    position:absolute;
    margin-top: 10px;
    margin-left: 80px;
    cursor: pointer;
    }
} 
